*{
  display: flex;
  flex-direction: column;
  transition-duration: 0.6s;
}


#root{
  display: inherit;
  flex-direction: inherit;
}

main{
  display: inherit;
  flex-direction: inherit;
}

.pagebody{
  z-index: 0;
  margin-top: 110px;
}